.favorite-button{
    background: rgb(26, 23, 47);
}
.heart-checkbox{
    color: rgb(255, 255, 255);
}
.heart-icon {   
    color: red;
    font-size: 20px;
    margin-right: auto;
    margin-left: -24px;
}

.checkbox{
    opacity: 3;
    width: 22px;
    height: 25px;
    opacity: 0;
}